# Virtual environment
.venv/

# Environment variables
.env

# Generated RAG files
chunks-*.csv
embeddings-*.csv

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db